<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="filePath" value="%UserProfile%\Documents\TournamentTracker"/>
		<add key="greaterWins" value="1"/>
		<add key="senderEmail" value="ionescoflorin@gmail.com"/>
		<add key="senderDisplayName" value="F. Ionescu"/>
	</appSettings>
	<connectionStrings>
		<add name="Tournaments" connectionString="Server=localhost\SQLExpress;Database=Tournaments;Trusted_Connection=true;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network">
				<network host="x.x.x.x" userName="a" password="a" port="1" enableSsl="false"/>
			</smtp>
		</mailSettings>
	</system.net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>